body{font-size:12px;background-color:#ffffff;margin:0px;overflow:auto;}
body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input,div{
font-family:helvetica,verdana,arial,sans-serif;}
h1{width:98.5%;font-size:250%;font-weight:normal;background-color:#696969;padding:0.4em 0.4em 0.4em 0.6em;}
h2 {font-size:160%;margin-top:10px;margin-bottom:10px;font-weight:normal;background-color:#A9A9A9;}
h3 {font-size:120%;font-weight:normal}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

/* LINK */
a{color:black}
.hl{text-decoration:none;color:black;}
a:hover {color:#A9A9A9;}
/* IMAGES */
img{border-style:none;padding:0.1em;max-width:100%;max-height:100%;}
/*LAYOUT*/
div.clearer {clear: left; line-height: 0; height: 0;}
#gdv_title
{font-size:300%;text-align:right;line-height:190%;}
#gdv_banner
{padding:0.5em;height:5em;width:85%;min-width:90em;margin-left:10em;border-width:2em;border-color:#CCCCCC;border-style:outset;}
#gdv_banner img
{float:left;height:100%;}
#gdv_banner a:link a:visited a:hover a:active {text-decoration:none;}
#gdv_column{position:relative;width:100%;min-width:100em;}
/* #gfeat_menu{left:0em;position:relative;top:15em;width:10em;padding:0em;text-align:center;line-height:200%;border-width:0.5em;border-style:outset;border-color:#CCCCCC;} */
#gdv_body{position:relative;margin-left:10em;padding:1em;margin-right:0.5em;}
#gdv_body_browser{position:relative;top:0em;margin-left:10em;padding:0em;margin-right:0em;}
#gdv_footer{margin-left:14em;margin-right:5em;padding:1em;line-height:200%;}

/*LEFTPANE*/
.lpfolded{border-color: transparent transparent SlateGrey transparent;border-style:solid;border-width:1.2em;position:absolute;left:0em;bottom:1em;width:0em;height:0;z-index:40;display:inline;}
.lpunfolded{border-color: SlateGrey transparent transparent transparent;border-style:solid;border-width:1.2em;position:absolute;left:0em;bottom:6em;width:0em;height:0;z-index:40;}
#dnd_exp{color:grey;font-size:125%;};
/* TABBED PANEL */
#tabpanel{float:left;width:100%;font-size:93%;line-height:normal;}
#tabpanel ul{background-color:slategrey;margin:0;list-style:none;padding:0em;position:fixed;bottom:0em;}
#tabpanel li{float:left;margin:0;padding:0;}
#tabpanel a {display:block;padding:0.5em 1em 0.4em;text-decoration:none;}
.selected {background-color:lightsteelblue;}
/* TEXT */
.gdv_text{padding:0 0 0 2em}
/*PROJECTS*/
#project_form{width:100%;}
.cp{padding:0.5em;width:20em;float:left}
.c_b{margin-top:0.3em;width:6em;height:1.5em;font-size:120%;}
#pc{margin:2em;}
.bh{width:98.5%;font-size:250%;font-weight:normal;background-color:#696969;padding:0.4em 0.4em 0.4em 0.6em;}
.gdv_head{width:100%;font-size:120%;padding:0.4em 0.4em 0.4em 0.6em;background-color:#D4D4D4;height:3em;}
.gdv_head img{height:1em;}
.dtv_desc{position:relative;margin:0em 7em 0em 0em;}
.dtv_but{
    position:relative;
    right:1em;
    margin:0em 7em 0em 0em;
}
.gdv_p1{position:absolute;margin:0em 7em 0em 0em;max-width:20em;overflow:hidden;}
.gdv_p2{position:absolute;left:26em;margin:0em 7em 0em 0em;max-width:10em;overflow:hidden;}
.gdv_p3{position:absolute;left:36em;margin:0em 7em 0em 0em;font-size:95%;}
.gdv_p4{position:absolute;left:52em;margin:0em 7em 0em 0em;}
.gdv_p5{position:absolute;left:60em;margin:0em 7em 0em 0em;}

.gdv_p6{position:absolute;left:5em;margin:1em 7em 0em 0em;}
.gdv_p7{position:absolute;left:7em;margin:1em 7em 0em 0em;font-size:80%;}
/*BUTTONS*/
.gdv_b_import{position:absolute;right:0em;margin:0em 0em 0em 0em;width:5em;height:1.5em;font-size:70%;}
.gdv_b_viewit{position:absolute;right:5.5em;margin:0em 0em 0em 0em;width:5em;height:1.5em;font-size:70%;}
.gdv_b_share{position:absolute;right:11em;margin:0em 0em 0em 0em;width:5em;height:1.5em;font-size:70%;}
.gdv_b_deleteit{position:absolute;right:16.5em;margin:0em 0em 0em 0em;width:5.5em;height:1.5em;font-size:70%;}
.gdv_b_importinprofile{position:absolute;right:22em;margin:0em 0em 0em 0em;width:10em;height:1.5em;font-size:70%;}
.gdv_b_checkbox{position:absolute;right:27.5em;margin:0em 0em 0em 0em;}

.gdv_list{font-size:100%;width:101%;border:none;border-collapse:collapse;padding:0em 0em 0em 5em;}
.gdv_list td{padding:1em 1em 1em 4em;}
.list_n{background-color:#F5F5F5;}
.list_alt{background-color:#FFFFFF;}

.ph_d{position:absolute;margin:0em 7em 0em 0em;}
.ph_s{position:absolute;left:32em;margin:0em 7em 0em 0em;}
.ph_v{position:absolute;left:55em;margin:0em 7em 0em 0em;}
.ph_t{position:absolute;left:63em;margin:0em 7em 0em 0em;}
.bdiv{position:absolute;right:7em;margin:0em 7em 0em 0em;}
.ph_bi{position:absolute;right:7em;margin:0em 7em 0em 0em;}
.ph_bv{position:absolute;right:1em;margin:0em 7em 0em 0em;}
.pt {font-size:100%;width:101%;border:none;border-collapse:collapse;padding:0em 0em 0em 5em;}
.pt td{padding:1em 1em 1em 4em;}
.pt_alt{background-color:#FFFFFF;}
.pt_n{background-color:#F5F5F5;}


/*JBROWSE*/
.gdv_up_track{ border-color: transparent transparent transparent SlateGrey ;
  border-style:solid;
  border-width:1.2em;
  position:absolute;
  left:-1.6em;
  top:-0.2em;
  width:0;
  height:0;}

.gdv_fold_track{ border-color: SlateGrey transparent transparent transparent;
  border-style:solid;
  border-width:1.2em;
  position:absolute;
  left:-3.1em;
  top:0.4em;
  width:0;
  height:0;}

.zplus{color:blue;font-size:300%;position:absolute;text-align:center;top:0em;right:-0.2em;}
.zmoins{bottom:0em;color:blue;font-size:420%;position:absolute;right:-0.1em;}
.zs{height:inherit;position:fixed;right: 0;width:2em;cursor: pointer;z-index:20;};
/*GROUP LIST PAGE*/
.sh1{width:98.5%;font-size:150%;font-weight:normal;background-color:#696969;padding:0.4em 0.4em 0.4em 0.6em;}
.sh2{width:98.5%;font-size:90%;font-weight:normal;background-color:#A9A9A9;padding:0.4em 0.4em 0.4em 0.6em;}

/*SEARCH INPUT*/
#suggest_field{background-color:LightGrey;position:fixed;right: 0em;padding:0.7em;top:2.5em;text-align:center;}

/*GDV MENU & GFEATMINER*/
#gdv_menu{left:0em;position:fixed;bottom:0em;top:0em;width:10em;height:100%;padding:0em;text-align:center;line-height:200%;border-width:0em 0.1em 0em 0em;border-style:outset;border-color:#CCCCCC;background-color:LightGrey;}
.menu_entry{font-size:1.5em;letter-spacing:150%;padding:1em 0em 1em;margin:0em 0em 0.5em;background-color:LightSteelBlue;}
.gdv_menu_item{margin:0.5em 0em 0.5em 0em;line-height:200%;}

#gfm_form{bottom:0em;background-color:LightGrey;height:12em;margin-left:10em;position:fixed;width:100%;z-index:60;border-width:0em 0em 0em 0.2em;border-style:outset;border-color:#CCCCCC;}
#gm_form_title{font-size:140%;font-weight:bold;padding:1em;};
.gfm_radio{color:red;}
.gm_cb{float:left;padding:1em;font-size:120%;}
.gm_ta{padding:1em;float:left;font-size:120%;}
.error{color:red;font-size:130%;}
p .homepage{color:red;}