# where the sqlite database should go
sqlite_output_directory : /output/path
# where the json outputs or calculated sqlite should go
jbrowse_output_directory : /tracks/output/path
# where the database to compute wig files is
compute_sqlite_scores_database : /compute/scores/jobs.db
# an url if you want feedback 
feedback_url : http://myserver/post
# where are various databases (chromosome names equivalence, yeat common and alternatives names)
database_link : /mydb/databases_link
# the url where jbrowse will take the ressources (urlTemplate for HistogramMeta)
jbrowse_ressource_url : ../resources/org.apache.wicket.Application//
